body{
    background-color: #262525;
    color: #FFFFFF;
    font-family: cursive;
    margin: 0;
    padding: 0;
}
section{
    display: flex;
}
.list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
.options{
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 700px;
}
h2, h3, h4, p{
    margin: 0;
}
.divI{
    height: 45px;
    width: 45px;
    margin: 10% 0;
}
.bi-person-fill-add::before,
.bi-people-fill::before,
.bi-person-lines-fill::before,
.bi-person-badge::before,
.bi-collection-fill::before,
.bi-node-plus-fill::before{
    font-size: 40px;
    padding: 7.5%;
    display: block;
}
.bi-person-fill-add:hover,
.bi-people-fill:hover,
.bi-person-lines-fill:hover,
.bi-person-badge:hover,
.bi-collection-fill:hover,
.bi-node-plus-fill:hover{
    border-radius: 15px;
    font-size: 200%;
    box-shadow: 0px 0px 10px #FFFFFF;
}
span{
    border: solid 2px grey;
    width: 80%;
    border-radius: 15px;
}
scroll-container {
    width: 94%;
    height: 700px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: block;
    margin: 0 auto;
}
scroll-container::-webkit-scrollbar{
    width: 10px;    
}
scroll-container::-webkit-scrollbar-track{
    background: #000000;
    border-radius: 15px;
}
scroll-container::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: grey;
    border-radius: 15px;
    border: 3px solid #262525;
}